@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(2, 2, 2, 2), rgba(0, 0, 0, 0.1)), url("../public/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
}

/* Dark Mode Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

